*
{
    margin: 0%;
    padding: 0%;

}

header
{
    width: 100%;
    height: 80px;
    border: 1px solid black;
    background: rgb(88, 3, 3);
    justify-content: space-around;
    display: flex;
}
li
{
    list-style: none;
}
ul
{
    display: flex;
    justify-content: space-around;
  text-decoration-style: none;
}
nav
{
    display: flex;
}