<style>
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=EB+Garamond:ital,wght@1,500;1,600&family=Faster+One&family=Grand+Hotel&family=Sancreek&display=swap');
</style> 
<style>
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Rubik+Mono+One&display=swap');
</style>
*
{
    margin: 0%;
    padding: 0%;
}

header
{
    width: 100%;
    height: 60px;
    background: rgba(196, 44, 44, 0.788);
    display: flex;
    justify-content: space-around;
}
li
{
    list-style: none;
}
ul
{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

nav
{
   width: 60%;
   height: 40%;
   color: black;
}
a:hover
{
    color: rgb(240, 20, 20);
}
a
{
    text-decoration: none;
}
.Name
{
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-family: 'EB Garamond', serif;
   /* font-family: 'Faster One', cursive;
    font-family: 'Grand Hotel', cursive;
    font-family: 'Sancreek', cursive;*/
}
button
{
    width: 30%;
    background: cornsilk;
}
button:hover
{
    color: blue;
}
section
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
article
{
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.information
{
    width: 40%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.picture
{
    width: 40%;
    height: 500px;
}
h6
{
   /* font-family: 'Bungee', cursive;*/
    font-family: 'Rubik Mono One', sans-serif;   
}
h1
{
    /*width: 20%;*/
    height: 2s0px;
}